<ion-card style="padding: .5rem;">
  <ion-input label="Search product" (keydown)="validateInput($event)" placeholder="Name product"></ion-input>
</ion-card>
<div class="cont-carrito">
  <p class="cont-detalle-carrito">Cant: {{cant}} | Total: ${{total}}</p>
</div>
@if(!cargando) {
  @for (item of articles; track $index) {
    <ion-card>
      <img alt="Silhouette of mountains" [src]="item.image.url"/>
      <ion-card-header>
        <ion-card-title>{{item.title}}</ion-card-title>
        <ion-card-subtitle>$ {{item.price}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{item.description}}
      </ion-card-content>
      <ion-button (click)="removeProduct(item)" shape="round">
        <ion-icon name="remove"></ion-icon>
      </ion-button>
      <ion-button (click)="addProduct(item)" shape="round">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-card>
  } @empty {
    <p class="text-center">No hay articulos</p>
  }
} @else {
  <p class="text-center">Cargando...</p>
}