<ion-card>
  <img alt="Silhouette of mountains" [src]="product.image"/>
  <ion-card-header>
    <ion-card-title>{{product.title}}</ion-card-title>
    <ion-card-subtitle>$ {{product.price}} </ion-card-subtitle>
    <ion-card-subtitle>Cantidad: {{product.cantidad}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{product.description}}
  </ion-card-content>
  <ion-button (click)="removeProduct(product)" [disabled]="cantidad == 0">
    <ion-icon name="remove"></ion-icon>
  </ion-button>
  <ion-button [disabled]="product.cantidad <= 0" fill="clear">
    {{cantidad}}
  </ion-button>  
  <ion-button (click)="addProduct(product)" [disabled]="product.cantidad == 0">
    <ion-icon name="add"></ion-icon>
  </ion-button>
</ion-card>