.cont-carrito {
  display: flex;
  position: sticky;
  top: 3%;
  justify-content: end;
  z-index: 1;
}

.cont-detalle-carrito {
  background: #ffc107;
  color: #fff;
  padding: .7rem;
  border-radius: .5rem;
  margin-right: .6rem;
}
