<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <h3 class="text-center w-100">Inicia Sesión</h3>
    </ion-item>
    <ion-item>
      <ion-input
        type="email"
        fill="solid"
        label="Email"
        labelPlacement="floating"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" label="Contraseña" fill="solid" labelPlacement="floating">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-button class="content-center">Ingresar</ion-button>
    </ion-item>

  </ion-list>
</ion-content>
