<ion-tabs class="bottom-tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/store/home']">
      <ion-icon name="storefront"></ion-icon>
      Store
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/']">
      <ion-icon name="home"></ion-icon>
      <!-- <ion-icon name="home-outline"></ion-icon> -->
      Home
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/contact']">
      <ion-icon name="call"></ion-icon>
      Contact
    </ion-tab-button>
<!--    @if (cantidad > 0) {-->
<!--      <ion-tab-button>-->
<!--        <p class="icon-cont">{{cantidad}}</p>-->
<!--      </ion-tab-button>-->
<!--    }-->
  </ion-tab-bar>

</ion-tabs>
