<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/login']"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formRegister" (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-input type="text" fill="solid" label="Nombre" labelPlacement="floating" formControlName="name"></ion-input>
      </ion-item>


      <ion-item>
        <ion-input type="number" fill="solid" label="Edad" labelPlacement="floating" formControlName="age"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" fill="solid" label="Foto de perfil" labelPlacement="floating" formControlName="photo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" label="Contraseña" fill="solid" labelPlacement="floating" formControlName="password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-button type="submit" class="content-center">Registrar</ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
